@import "tailwindcss";

$nav-font-size: 14px;
$brand-gold: #bb986c;
$dropdown-bg: #ffffff;
$icon-border: rgba(255, 255, 255, 0.3);

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-noto-sans-tc), "Noto Sans TC", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  --bs-body-font-family: var(--font-noto-sans-tc), "Noto Sans TC", "PingFang TC",
    "Microsoft JhengHei", sans-serif !important;
  font-family: var(--font-noto-sans-tc), "Noto Sans TC", "PingFang TC",
    "Microsoft JhengHei", sans-serif !important;
}

.form-select:focus {
  border: 1px solid #bb986c !important;
  border-color: #bb986c !important;
  box-shadow: none !important;
}
